.container {
  width: 100%;
  height: 100%;

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;

    .form-container {
      align-items: center;
      justify-content: center;
      gap: 20px;
      min-width: 50vh;
      min-height: 50vh;
      background-color: bisque;
      display: flex;
      flex-direction: column;

      label {
        input {
          outline: none;
          border: none;
          height: 2em;
        }
      }
      .submit-btn {
        outline: none;
        border: none;
        color: wheat;
        background-color: black;
        padding: 1em 2em;
        font-size: 15px;
      }
    }
  }
}
