hr {
  width: 90%;
  border: 1px solid black;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  .form-container {
    padding: 50px 75px 25px 75px;
    display: flex;
    gap: 30px;
    .left-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 15px;
      img {
        width: 200px;
        height: 200px;
      }
    }
    .right-content {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 15px;
      .top-right-content {
        display: flex;
        flex-direction: column;
        gap: 10px;
        label {
          input {
            outline: none;
            border: none;
          }
        }
      }
      .bottom-right-content {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .category-content {
          display: flex;
          gap: 40px;
          align-items: center;
          input {
            border: none;
            outline: none;
          }
        }
        .btn-container {
          .btn {
            width: 80px;
            height: 30px;
            border: none;
            background-color: black;
            color: wheat;
            margin-right: 75px;
            cursor: pointer;
          }
        }
      }
    }
  }
  .rating-form {
    padding: 25px 75px;
    display: block;
    .review {
      display: block;
      width: 90%;
      height: 50px;
      margin: 20px auto;
      font-size: 16px;
    }
    .btn-submit {
      display: block;
      float: right;
      border: none;
      outline: none;
      cursor: pointer;
      color: wheat;
      background-color: black;
      padding: 10px 30px;
      margin-right: 60px;
    }
  }
  .all-reviews {
    padding: 25px 75px;
    .review-form {
      display: flex;
      flex-direction: column;
      .review-top-content {
        display: flex;
        padding: 10px 0px;
        gap: 100px;
      }
      .user-review {
        width: 60%;
        border: none;
        outline: none;
      }
    }
  }
}
